body {
  display: flex;
}

#map {
  width: 600px;
  height: 600px;
}

#content {
  flex-direction: column;
  width: 300px;
}

h1 {
  border: 1px black solid;
}

#country-list {
  border: 1px black solid;
}

#border-country {
  border: 1px black solid;
}

#border-country-info {
  border: 1px black solid;
}